body{
	
	background-color: #EEE;
	font-family: 'Roboto', sans-serif;
}
*{
	margin: 0px;
	padding: 0px;
}
.container{
	max-width: 1000px;
	background-color: #E4F9F5;
	margin: 0 auto;
	padding: 30px;
}
header{

}
.profile-image{
	width: 100px;
	height: 120px;
	border: 3px #EEE;
	border-radius: 50%;
	float: left;

}
.header-bio{
	float: left;
	padding: 30px;
}
h1,h2,h3,h4,h5,h6,p{
	color: #11999e;
	width: 70%;

}
.header-contact{
	float: right;
	padding: 30px;
}
.header-contact a{
	text-decoration: none;
	color: teal;
	font-weight: bold;
}
.header-contact a:hover{
	text-decoration: underline;
	color: tomato;
}
.div-clear{
	clear: both;
}
hr{
	border: solid black 3px;
	width: 100%;
	margin: 30px auto;
	border-bottom: none;

}
#personal-section{

}
.content{

}
.left-div{
	float: left;
	width: 30%
}
.right-div{
	float: left;
	width: 70%;
}
.common-hr{
	width: 100%;
	border: solid black 1px;
	margin: 20px auto;
	border-bottom: none;
}
#career-ocjective{

}
.new{
	float: left;
	width: 30%;

}
.new2{
	float: left;
	width: 30%;
}
.new3{
	float: left;
	width: 30%
}
.bottom-container{
	background: black;
	text-align: center;
	padding: 30px;
}
.bottom-container a{
	color: white;
	text-decoration: none;
	margin: 20px;
}
.bottom-container p{
	width: 95%;
	margin: 15px;
	color: white;
}